WmsSoapTester/Service References/wmssoap/Wms1302.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.opengis.net/wms/soap" elementFormDefault="qualified" targetNamespace="http://schemas.opengis.net/wms/soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OGC.WMS.SOAP.v1_3_0" />
  <xs:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OGC.WMS.SOAP" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapabilities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapabilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OGC.WMS.SOAP.v1_3_0" minOccurs="0" name="GetCapabilitiesResult" nillable="true" type="q1:WMS_Capabilities" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="layers" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="styles" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OGC.WMS.SOAP.v1_3_0" minOccurs="0" name="bounds" nillable="true" type="q4:BoundingBox" />
        <xs:element minOccurs="0" name="width" type="xs:int" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="crs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OGC.WMS.SOAP" minOccurs="0" name="GetMapResult" nillable="true" type="q5:BinaryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>