WmsSoapTester/Service References/wmssoap/Wms1301.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.opengis.net/wms/soap" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.opengis.net/wms/soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.opengis.net/wms/soap/Imports">
      <xsd:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd0" namespace="http://schemas.opengis.net/wms/soap" />
      <xsd:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OGC.WMS.SOAP.v1_3_0" />
      <xsd:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/OGC.WMS.SOAP" />
      <xsd:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:22624/Wms130.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWms_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IWms_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IWms_GetCapabilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilities" />
  </wsdl:message>
  <wsdl:message name="IWms_GetCapabilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCapabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IWms_GetMap_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMap" />
  </wsdl:message>
  <wsdl:message name="IWms_GetMap_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMapResponse" />
  </wsdl:message>
  <wsdl:portType name="IWms">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://schemas.opengis.net/wms/soap/IWms/GetVersion" message="tns:IWms_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.opengis.net/wms/soap/IWms/GetVersionResponse" message="tns:IWms_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <wsdl:input wsaw:Action="http://schemas.opengis.net/wms/soap/IWms/GetCapabilities" message="tns:IWms_GetCapabilities_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.opengis.net/wms/soap/IWms/GetCapabilitiesResponse" message="tns:IWms_GetCapabilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMap">
      <wsdl:input wsaw:Action="http://schemas.opengis.net/wms/soap/IWms/GetMap" message="tns:IWms_GetMap_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.opengis.net/wms/soap/IWms/GetMapResponse" message="tns:IWms_GetMap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>